body {
    background-color: #f8f9fa;
}

div.title {
    color: #242526;
    font-size: 1.7em;
    font-weight: bold;
    padding-left: 3vh;
    padding-top: 2vh;
}

div#index_wrapper {
    margin: 3vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#home_wrapper {
    margin: 3vh;
    display: grid;
    grid-template-rows: 50fr 50fr;
    grid-template-columns: 50fr 50fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
div#home_wrapper div {
    color: #242526;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    height: 300px;
    line-height: 300px;
}
div#home_wrapper div a{
    color: #242526;
}

div#groupJoin_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
}
div#groupJoin_wrapper a{
	flex: 1;
	margin-left: 5px;
}

div#collapse-join-group .container{
    max-width: 100vh;
}

div#groupOpertime_wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
}
div#groupOpertime_wrapper > div {
    width: 260px;
    height: 260px;
    background-color: darkgrey;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center;
    line-height: 260px;
}
div#groupOpertime_wrapper .input-group {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
div#groupOpertime_wrapper > div a{
    color: #242526;
}