body {
    background-color: #343a40;
    color: #bbb;
}
.card {
    background-color: #343a40;
    color: #bbb;
}
.navbar {
  font-size: 15px;
}

div.title {
    font-size: 20px;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
div.title:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 1px solid #bbb;
    margin: 20px auto;
}

div#index_wrapper {
    display: flex;
    justify-content: center;
}

div#index_wrapper .google-logo {
    display: inline-block;
    font-size: 35px;
    background: #DB4437;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}
div#index_wrapper .google-logo a {
    color: #fff;
    font-family: 'Times New Roman';
}
div#index_wrapper .naver-logo {
    display: inline-block;
    font-size: 35px;
    background: #0F9D58;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
}
div#index_wrapper .naver-logo a {
    color: #fff;
    font-family: 'Arial Black';
}

#form-mypage {
    margin: auto 10vh;
    font-size: 18px;
}
#form-mypage input{
    font-size: 18px;
}
div.mypage_button {
    float: right;
    margin: 10vh 5vh;
}
div.mypage_button button {
    width: 80px;
    font-size: 18px;
}

div#home_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto 10vh;
}
div#home_wrapper .box {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break:break-all;
    width: 150px;
    height: 150px;
    border: 1px solid #bbb;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
div#home_wrapper .box a{
    color: #bbb;
}
div#home_wrapper .box b{
    font-size: 18px;
}
div#home_wrapper .box p{
    font-size: 15px;
}

div#group_wrapper {
    display: flex;
    flex-direction: row;
    margin: auto 10vh;
}
div#group_wrapper a{
    display: inline-block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
div#group_wrapper a+a{
    margin-left: 10px;
}

div#group_create_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 10vh;
}
div#group_create_wrapper input{
    font-size: 18px;
    text-align: center;
}
div#group_create_wrapper .valid-feedback{
    font-size: 15px;
}
div#group_create_wrapper .invalid-feedback{
    font-size: 15px;
}
div.group_create_button {
    float: right;
    margin: 10vh 5vh;
}
div.group_create_button button{
    width: 80px;
    font-size: 18px;
}

div#group_join_wrapper {
    display: flex;
    flex-direction: row;
    margin: auto 10vh;
}
div#group_join_wrapper a{
    display: inline-block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
div#group_join_wrapper a+a{
    margin-left: 10px;
}

div#group_join_staff_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 10vh;
}
div#group_join_staff_wrapper input{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
div#group_join_staff_wrapper .invalid-feedback{
    font-size: 15px;
}
div#group_join_staff_wrapper .box{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;
    font-size: 18px;
}

div#group_join_member_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 10vh;
}
div#group_join_member_wrapper input{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
div#group_join_member_wrapper .invalid-feedback{
    font-size: 15px;
}
div#group_join_member_wrapper .box{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;
    font-size: 18px;
}

div#opertime_wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    margin: auto 10vh;
}
div#opertime_wrapper .box:nth-child(2n-1) {
    font-size: 20px;
    font-weight: bold;
}
div#opertime_wrapper .box:nth-child(2n) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
div#opertime_wrapper .box:nth-child(2n) .input-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 5px;
}
div#opertime_wrapper .box:nth-child(2n) .input-box input:nth-child(1){
    width: 120px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    font-size: 2.3rem;
    text-align: center;
}
div#opertime_wrapper .box:nth-child(2n) .input-box input:nth-child(2){
    width: 120px;
    height: 60px;
    border-radius: 0 20px 20px 0;
    font-size: 2.3rem;
    text-align: center;
}
div#opertime_wrapper .btn-add-opertime {
    border-radius: 50px;
    width: 80px;
    height: 60px;
}
div.opertime_button {
    float: right;
    margin: 10vh 5vh;
}
div.opertime_button button {
    width: 80px;
    font-size: 18px;
}