body {
    background-color: #343a40;
    color: #bbb;
}

div.title {
    font-size: 1.7em;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
div.title:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 1px solid #bbb;
    margin: 20px auto;
}

div#index_wrapper {
    margin: 3vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#home_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div#home_wrapper > div {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 5px;
}
div#home_wrapper div a{
    color: #bbb;
}

div#groupJoin_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
}
div#groupJoin_wrapper a{
	flex: 1;
	margin-left: 5px;
}

div#collapse-join-group .container{
    max-width: 100vh;
}

div#groupOpertime_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div#groupOpertime_wrapper > div {
    border: 1px solid #bbb;
    border-radius: 10px;
    width: 260px;
    height: 260px;
    line-height: 260px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}
div#groupOpertime_wrapper > div .input-group {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
div#groupOpertime_wrapper > div .input-group-text,.form-control {
    background-color: transparent;
    border: none;
    border: 1px solid #6c757d;
}
div#groupOpertime_wrapper > div .input-group-text,.form-control:focus {
    background-color: transparent;
    border: none;
    border: 1px solid #6c757d;
}
div#groupOpertime_wrapper > div .input-group-text,.form-control:-internal-autofill-selected {
    background-color: transparent;
    border: none;
    border: 1px solid #6c757d;
}
.groupOpertime_button {
    float: right;
    margin: 10vh 5vh;
}