{{>layout/header}}

<button type="button" class="btn btn-primary" id="btn-insert-schedule-ui">스케줄 추가</button>
<button type="button" class="btn btn-primary" id="btn-insert-schedule">스케줄 저장</button>

    <form class="form-opertime">
        <div class="form-group">
            {{#groupOpertimes}}
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        일요일
                    </span>
                </div>
                <input type='text' class='form-control' name='sunStartTime' value={{sunStartTime}}>
                <input type='text' class='form-control' name='sunEndTime' value={{sunEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        월요일
                    </span>
                </div>
                <input type='text' class='form-control' name='monStartTime' value={{monStartTime}}>
                <input type='text' class='form-control' name='monEndTime' value={{monEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        화요일
                    </span>
                </div>
                <input type='text' class='form-control' name='tueStartTime' value={{tueStartTime}}>
                <input type='text' class='form-control' name='tueEndTime' value={{tueEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        수요일
                    </span>
                </div>
                <input type='text' class='form-control' name='wedStartTime' value={{wedStartTime}}>
                <input type='text' class='form-control' name='wedEndTime' value={{wedEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        목요일
                    </span>
                </div>
                <input type='text' class='form-control' name='thuStartTime' value={{thuStartTime}}>
                <input type='text' class='form-control' name='thuEndTime' value={{thuEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        금요일
                    </span>
                </div>
                <input type='text' class='form-control' name='friStartTime' value={{friStartTime}}>
                <input type='text' class='form-control' name='friEndTime' value={{friEndTime}}>
            </div>
            <div class='input-group input-group-sm'>
                <div class='input-group-prepend'>
                    <span class='input-group-text'>
                        토요일
                    </span>
                </div>
                <input type='text' class='form-control' name='satStartTime' value={{satStartTime}}>
                <input type='text' class='form-control' name='satEndTime' value={{satEndTime}}>
            </div>
            {{/groupOpertimes}}
        </div>
    </form>

{{>layout/footer}}