{{>layout/header}}

<div id="groupJoin_wrapper">
    <a class="btn" data-toggle="collapse" href="#collapse-insert-group" role="button" aria-expanded="false" aria-controls="collapse-insert-group">
        그룹 개설
    </a>
    <a class="btn" data-toggle="collapse" href="#collapse-join-group" role="button" aria-expanded="false" aria-controls="collapse-join-group">
        그룹 가입
    </a>
</div>

<div class="collapse" id="collapse-insert-group">
    <div class="card card-body">
        <form id="form-insert-group">
            <div class="form-group">
                <label for="name">그룹명</label>
                <input type="text" class="form-control" id="name" placeholder="그룹명을 입력하세요." required>
                <div class="valid-feedback">사용 가능합니다.</div>
                <div class="invalid-feedback">이미 존재하는 그룹명입니다.</div>
            </div>
            <button type="button" class="btn btn-outline-light" id="btn-insert-group" disabled>등록</button>
        </form>
    </div>
</div>

<div class="collapse" id="collapse-join-group">
    <div class="card card-body">
        <form id="form-join-group">
            <div class="form-group">
                <label for="name">그룹명</label>
                <input type="text" class="form-control" id="name" placeholder="그룹명을 입력하세요.">
            </div>
            <div class="container">
            </div>
        </form>
    </div>
</div>
</div>

{{>layout/footer}}