{{>layout/header}}

<form id="form-join-member-group">
    <div class="form-group">
        <label for="name">그룹명</label>
        <input type="text" class="form-control" id="name" placeholder="그룹명을 입력하세요.">
    </div>
    <div class="container">
    </div>
</form>

{{>layout/footer}}