{{>layout/header}}

<div class="title">무슨 역할을 원하세요?</div>
<div id="group_join_wrapper">
    <a href="/group/join/staff">스태프(직원)</a>
    <a href="/group/join/member">멤버(고객)</a>
</div>

{{>layout/footer}}