{{>layout/header}}

<div class="title">내 그룹</div>
<div id="home_wrapper">
{{#groups}}
    <div><a href="/reserve?groupId={{groupId}}&roleId={{roleId}}">{{groups.name}}<br>{{role.name}}</a></div>
{{/groups}}
    <div><a href="/group"><i class="fas fa-plus"></i></a></div>
</div>

{{>layout/footer}}
