{{>layout/header}}

<div class="title">내 그룹</div>
<div id="home_wrapper">
{{#groups}}
    <div><a href="/group/login?groupId={{groupId}}&roleId={{roleId}}">{{groups.name}}</a></div>
{{/groups}}
    <div><a href="/group/join"><i class="fas fa-plus"></i></a></div>
</div>

{{>layout/footer}}
