{{>layout/header}}

<div class="title">로그인</div>
<div id="index_wrapper">
    <a href="/oauth2/authorization/google" class="btn btn-outline-danger active btn-block" role="button">Google Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-outline-success active btn-block" role="button">Naver Login</a>
</div>

{{>layout/footer}}
