{{>layout/header}}

<div class="title">가능한 시간을 입력해주세요</div>
<form class="form-opertime" onsubmit="return false;" method="post">
    <div id="opertime_wrapper">
        <div class="box">일</div>
        <div class="box sunOpertimeList">
            {{#sunOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="0">
                </div>
            {{/sunOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-6"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">월</div>
        <div class="box monOpertimeList">
            {{#monOpertimeList}}
                <div class="input-box" id="{{opertimeId}}">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="1">
                </div>
            {{/monOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-0"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">화</div>
        <div class="box tueOpertimeList">
            {{#tueOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="2">
                </div>
            {{/tueOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-1"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">수</div>
        <div class="box wedOpertimeList">
            {{#wedOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="3">
                </div>
            {{/wedOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-2"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">목</div>
        <div class="box thuOpertimeList">
            {{#thuOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="4">
                </div>
            {{/thuOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-3"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">금</div>
        <div class="box friOpertimeList">
            {{#friOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="5">
                </div>
            {{/friOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-4"><i class="fas fa-plus"></i></button>
        </div>
        <div class="box">토</div>
        <div class="box satOpertimeList">
            {{#satOpertimeList}}
                <div class="input-box">
                    <input type="text" name="startTime" value="{{startTime}}" placeholder="00:00">
                    <input type="text" name="endTime" value="{{endTime}}" placeholder="00:00">
                    <input type="hidden" name="opertimeId" value="{{opertimeId}}">
                    <input type="hidden" name="dayCode" value="6">
                </div>
            {{/satOpertimeList}}
            <button class="btn-add-opertime" id="btn-add-5"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</form>
<div class="opertime_button">
    <button type="button" class="btn btn-outline-light" id="btn-insert-opertime">저장</button>
</div>

{{>layout/footer}}